a {
  text-decoration: none;
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  line-height: 16px;
}

a:active {
  color: rgb(250, 138, 138);
  border-bottom: 1px solid rgb(250, 138, 138);
}

.always-active a {
  color: rgb(250, 138, 138);
  border-bottom: 2px solid rgb(250, 138, 138);
}

.header__logo:active{
  border-bottom: none;
}

ul {
  list-style-type: none;
}

.root {
  background-color: rgba(250, 244, 244, 1);
  font-family: 'Roboto', sans-serif;
}